    .navbar{ 
    height: 40px;
    float: left;
    background: #0c79e6;
    position: fixed;
    width : 100%;
    top: 0;
    left: 0; 
    margin:0 auto; 
    text-align:center;
    min-width: 768;
    margin-bottom: 20px;
    }

    .navbar2{ 
    height: 40px;
    float: right; 
    position: fixed;
    width : 30%;    
    top: 0;
    right: 0; 
    margin:0 auto; 
    text-align:right;
    min-width: 768;
    margin-bottom: 20px;
    }
 

    .content-wrapper{
        width:1080px;
        margin:auto;
        margin-top: 50px;
        text-align:center;
        display: block；
    }
    .category{
    margin-bottom: 0px;
    margin-top:0px;
    margin-left: -2px;
    margin-right: -2px;
    padding:9px 38px;
    font-size: 16px;
    font-weight:200;
    color: white;
    line-height: 1.42857143;
    font-family: "Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    display:inline-block;
    height: auto;
    }

    .category_language{
    margin-bottom: 0px;
    margin-top:0px;
    margin-left: -2px;
    margin-right: -2px;
    padding:9px 3px;
    font-size: 22px;
    font-weight:600;
    color: #9ed5e3;
    line-height: 1.42857143;
    font-family: "Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    display:inline-block;
    height: auto;
    }
    
    .highlightedCategory{
    background: #fff;
    font-weight: 500;
    color: #0b79e5;
    }


    .portrait {
       display:inline-block;
    }

    .bio{
        text-align: left;
    }

    .category:not(.highlightedCategory):hover{
        background: #278FF7;    }

    .category2:not(.highlightedCategory):hover{
        background: #278FF7;    }
        
.title{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
/* 	color: #FFFF00; */
	border: none;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 5px;
}

.author{
	margin-bottom: 5px;
	text-align: left;
	font-size: 16px;
/* 	font-weight: bold; */
/* 	color: #FFFF00; */
	color: gray;
	border: none;
/* 	text-shadow: 0px 1px 1px rgba(0,0,0,0.1); */
}

.venue{
	
	margin-bottom: 5px;
	text-align: left;
	font-size: 16px;
/* 	font-weight: bold; */
/* 	color: #FFFF00; */
	border: none;
/* 	text-shadow: 0px 1px 1px rgba(0,0,0,0.1); */
}
.download{
    margin-top: 10px;
	font-weight: bold;
	font-size: 16px;
}

.item{
	margin-bottom: 8px;
}

.alanguage{
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
    color: #9f6c6c;
}